<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadistico</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }


    </style>

</head>
<body>
    <center>

        <div id="content">
            <div style="height:700px ; width: 1530px;">
                <iframe title="Report Section" width="1530" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMWRmMDEwMDktY2UzOC00NGQ2LThiYWEtYjhjNTNmZDZiOWJjIiwidCI6IjAzZWQ5YWY1LTc5MDItNDliMS1iYzljLWVjNDEwMzJjNDg3ZiIsImMiOjR9&navContentPaneEnabled=false" frameborder="0" height="100%" width="100%" style="position:absolute; clip:rect(0px,1520px,630px,0px); left: 0;
                top: 0;" allowFullScreen="true"></iframe>
            </div>
        </div>

    </center>


</body>
</html>